@use "../../styles/partials/global" as *;
@use "../../styles/partials/colors" as *;
@use "../../styles/partials/type-kit" as *;

.logInSignUp {
  background-color: $color-body;
  min-height: 80vh;
  padding: 1rem;
  // display: flex;
  &__container {
    display: flex;
    flex-direction: column;
    margin: 0 auto 1rem;
    padding: 1rem;
    border-radius: 25px;
    background-color: $color-container;
    width: 100%;
    box-shadow: 2.5px 5px $color-box-shadow-black;
    // border: 5px solid $color-white;
    @include tablet-breakpoint {
      max-width: $desktop-maxwidth;
    }
    @include desktop-breakpoint {
    }

    &--option {
      flex-direction: row;
      justify-content: center;
      width: 5rem;
    }
  }

  &__box {
    display: flex;
    flex-direction: column;
    background-color: $color-box;
    text-decoration: none;
    color: $color-black;
    border-radius: 26px;
    border: none;
    margin: 0.5rem 0;
    box-shadow: 2.5px 5px $color-box-shadow-black;
    padding: 1rem;
    transition: 0.3s;
    cursor: pointer;
    &:hover {
      box-shadow: none;
      transform: translateX(2.5px) translateY(5px);
      background-color: $color-login-hover;
    }
    &--submit {
      margin-top: 1.5rem;
      background-color: $color-login-default;
      font-weight: 700;
      &:hover {
        background-color: $color-login-hover;
        // color: $color-white;
      }
    }
  }

  &__title {
    font-size: 1.5rem;
    // padding-bottom: 0.5rem;
    // margin: 0 0.5rem;
    // border-radius: 2px;
    background-color: $color-box;
    color: $color-black;
    border-radius: 26px;
    margin: 0.5rem 0;
    // box-shadow: 2.5px 5px $color-box-shadow-black;
    padding: 1rem;
  }

  &__input-label {
    font-weight: 600;
    padding: 0.5rem 0;
  }

  &__input {
    border: none;
    border: 2px solid $color-input-border;
    background-color: $color-input;
  }
}

.logIn {
  &__form {
    display: flex;
    flex-direction: column;
    background-color: $color-box;
    padding: 1rem;
    margin: 1rem 0;
    border-radius: 25px;
  }
}

.signUp {
  &__form {
    display: flex;
    flex-direction: column;
    background-color: $color-box;
    padding: 1rem;
    margin: 1rem 0;
    border-radius: 25px;
  }
}
