@use "../../styles/partials/global" as *;
@use "../../styles/partials/colors" as *;
@use "../../styles/partials/type-kit" as *;

.memoryOverview {
  padding: 1rem;
  background-color: $color-body;
  &__container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 1rem;
    border-radius: 25px;
    background-color: $color-mercury;
    width: 100%;
    @include tablet-breakpoint {
      max-width: $desktop-maxwidth;
    }
    @include desktop-breakpoint {
    }
  }

  &__wrapper-main {
    @include tablet-breakpoint {
      display: flex;
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include tablet-breakpoint {
      width: 50%;
    }

    &--left {
      margin-right: 2%;
    }

    &--right {
      margin-left: 2%;
    }
  }

  &__box {
    display: flex;
    background-color: $color-white;
    border-radius: 26px;
    min-height: pxToRem(200);
    margin: 0.5rem 0;
    box-shadow: 2.5px 5px $color-box-shadow-black;
    padding: 1rem;
    &--header {
      min-height: 0;
      font-size: pxToRem(24);
    }
    &--dashboard {
      height: 100%;
    }
    &--view {
      min-height: 0;
      font-size: pxToRem(16);
      text-decoration: none;
      color: $color-black;
      &:hover {
        box-shadow: none;
        transform: translateX(2.5px) translateY(5px);
      }
    }
    &--add {
      min-height: 0;
      font-size: pxToRem(16);
      text-decoration: none;
      color: $color-black;
      &:hover {
        box-shadow: none;
        transform: translateX(2.5px) translateY(5px);
      }
    }

    &--logout {
      min-height: 0;
      font-size: pxToRem(16);
      text-decoration: none;
      color: $color-black;
      &:hover {
        box-shadow: none;
        transform: translateX(2.5px) translateY(5px);
      }
    }
  }
}
