@use "../../styles/partials/global" as *;
@use "../../styles/partials/colors" as *;
@use "../../styles/partials/type-kit" as *;

.memoryOverview {
  padding: 1rem;
  background-color: $color-body;
  min-height: 80vh;
  &__container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 1rem;
    border-radius: 25px;
    background-color: $color-mercury;
    width: 100%;
    box-shadow: 2.5px 5px $color-box-shadow-black;
    @include tablet-breakpoint {
      max-width: $desktop-maxwidth;
    }
    @include desktop-breakpoint {
    }
  }

  &__wrapper-main {
    @include tablet-breakpoint {
      display: flex;
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include tablet-breakpoint {
      width: 50%;
    }

    &--left {
      @include tablet-breakpoint {
        margin-right: 2%;
      }
    }

    &--right {
      @include tablet-breakpoint {
        margin-left: 2%;
      }
    }
  }

  &__box {
    display: flex;
    flex-direction: column;
    background-color: $color-white;
    border-radius: 26px;
    min-height: pxToRem(200);
    margin: 0.5rem 0;
    box-shadow: 2.5px 5px $color-box-shadow-black;
    padding: 1rem;
    &--header {
      min-height: 0;
      font-size: pxToRem(24);
    }
    &--recent {
      height: 80%;
      min-height: 0;
      font-size: pxToRem(16);
      text-decoration: none;
      color: $color-black;
      transition: 0.3s;
      &--memory {
        &:hover {
          box-shadow: none;
          transform: translateX(2.5px) translateY(5px);
          background-color: $color-secondary-1-1;
          color: $color-white;
        }
      }
    }
    &--view {
      min-height: 0;
      font-size: pxToRem(16);
      text-decoration: none;
      color: $color-black;
      transition: 0.3s;
      &:hover {
        box-shadow: none;
        transform: translateX(2.5px) translateY(5px);
        background-color: $color-secondary-1-1;
        color: $color-white;
      }
    }
    &--add {
      min-height: 0;
      font-size: pxToRem(16);
      text-decoration: none;
      color: $color-black;
      transition: 0.3s;
      &:hover {
        box-shadow: none;
        transform: translateX(2.5px) translateY(5px);
        background-color: $color-secondary-1-1;
        color: $color-white;
      }
    }

    &--logout {
      min-height: 0;
      font-size: pxToRem(16);
      text-decoration: none;
      color: $color-black;
      transition: 0.3s;
      &:hover {
        box-shadow: none;
        transform: translateX(2.5px) translateY(5px);
        background-color: #e95959;
        color: $color-white;
      }
    }
  }
  &__header {
    font-size: pxToRem(24);
  }

  &__subheader {
    width: 90%;
    font-size: pxToRem(20);
    border-top: 3px solid $color-body;
    border-bottom: 3px dotted $color-body;
    margin: 1rem 0;
    padding: 1rem 0;
  }

  &__body {
    margin: 0.5rem 0;

    &--bold {
      font-weight: 700;
      text-decoration: none;
    }

    &--link {
      font-weight: 700;
      text-decoration: none;
      color: $color-black;
      transition: 0.15s;
      &:hover {
        color: $color-secondary-1-1;
        text-decoration: underline;
      }
    }
  }

  &__title-wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__img {
    width: 2rem;
    height: 2rem;
    transition: 0.15s;
    &--smile {
      background-image: url("../../assets/icons/smile-black.svg");
    }
    &--memory {
      background-image: url("../../assets/icons/memory-black.svg");
      &:hover {
        background-image: url("../../assets/icons/memory-white.svg");
      }
    }
    &--memory-no-hover {
      background-image: url("../../assets/icons/memory-black.svg");
    }
    &--view {
      background-image: url("../../assets/icons/list-black.svg");
      &:hover {
        background-image: url("../../assets/icons/list-white.svg");
      }
    }
    &--add {
      background-image: url("../../assets/icons/add-black.svg");
      &:hover {
        background-image: url("../../assets/icons/add-white.svg");
      }
    }
    &--logout {
      background-image: url("../../assets/icons/logout-black.svg");
      &:hover {
        background-image: url("../../assets/icons/logout-white.svg");
      }
    }
  }

  &__days {
    font-size: pxToRem(24);
    border-top: 3px solid $color-body;
    border-bottom: 3px dotted $color-body;
    margin: 1rem 0;
    padding: 1rem 0;
    text-align: left;
  }
}
