// // PALETTE 1: GREEN MONOCHROME

// // Component Colors
// $color-header: #4e764e;
// $color-nav-link: #fef9c7;
// $color-body: #a5be7d;
// $color-footer: #74a059;
// $color-container: #f1f1f1;

// $color-box: #ffffff;
// $color-confirm: #12a632;
// $color-button-default: #ffffff;
// $color-login-default: #ffffff;
// $color-button-hover: #47909d;
// $color-edit: #47909d;
// $color-cancel: #47909d;
// $color-delete: #e95959;

// // Forms
// $color-input: #fafafa;
// $color-input-border: #47909d;

// // Supporting Colors
// $color-white: #ffffff;
// $color-mercury: #f1f1f1;
// $color-alabaster: #fafafa;
// $color-black: #000000;
// $color-box-shadow-black: #00000040;

// PALETTE 2: LIVELY

// Component Colors
$color-header: #026670;
$color-nav-link: #fef9c7;
$color-body: #9fedd7;
$color-footer: #024e55;
$color-container: #96dcc8;
// $color-container: #edeae5;

$color-box: #ffffff;
$color-confirm: #12a632;
$color-button-default: #ffffff;
$color-button-hover: #dcac00;
$color-login-default: #edeae5;
$color-login-hover: #fef9c7;
$color-edit: #47909d;
$color-cancel: #dcac00;
$color-delete: #e95959;

// Forms
$color-input: #fafafa;
$color-input-border: #026670;

// Supporting Colors
$color-white: #ffffff;
$color-mercury: #f1f1f1;
$color-alabaster: #fafafa;
$color-black: #000000;
$color-box-shadow-black: #00000040;
