// Component Colors
$color-header: #026670;
$color-nav-link: #fef9c7;
$color-body: #9fedd7;
$color-footer: #024e55;
$color-container: #96dcc8;
// $color-container: #edeae5;

$color-box: #ffffff;
$color-confirm: #12a632;
$color-button-default: #ffffff;
$color-button-hover: #dcac00;
$color-login-default: #edeae5;
$color-login-hover: #fef9c7;
$color-add-hover: #4e967f;
$color-edit: #47909d;
$color-cancel: #dcac00;
$color-delete: #e95959;

// Forms
$color-input: #fafafa;
$color-input-border: #026670;

// Supporting Colors
$color-white: #ffffff;
$color-mercury: #f1f1f1;
$color-alabaster: #fafafa;
$color-black: #000000;
$color-box-shadow-black: #00000040;
