@use "../../styles/partials/global" as *;
@use "../../styles/partials/colors" as *;
@use "../../styles/partials/type-kit" as *;

.memory-details {
  padding: 1rem;
  background-color: $color-body;
  min-height: 80vh;
  @include tablet-breakpoint {
    padding: 1rem 2rem;
  }
  &__container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 1rem;
    border-radius: 25px;
    background-color: $color-container;
    width: 100%;
    box-shadow: 2.5px 5px $color-box-shadow-black;
    @include tablet-breakpoint {
      max-width: $desktop-maxwidth;
      flex-direction: row;
      flex-wrap: wrap;
    }
    @include desktop-breakpoint {
    }
  }

  &__box {
    display: flex;
    flex-direction: column;
    background-color: $color-box;
    border-radius: 26px;
    margin: 0.5rem 0;
    padding: 1rem;

    &--description {
      @include tablet-breakpoint {
        width: 100%;
      }
    }

    &--feeling {
      @include tablet-breakpoint {
        width: 48%;
        margin-right: 2%;
      }
    }

    &--helpful {
      @include tablet-breakpoint {
        width: 48%;
        margin-left: 2%;
      }
    }

    &--related {
      @include tablet-breakpoint {
        width: 100%;
      }

      &--hidden {
        display: none;
      }
    }

    &--goback {
      display: flex;
      flex-direction: row;
      align-items: center;
      text-decoration: none;
      color: $color-black;
      transition: 0.3s;
      background-color: $color-button-default;
      box-shadow: 2.5px 5px $color-box-shadow-black;
      @include tablet-breakpoint {
        flex-grow: 1;
      }
      &:hover {
        box-shadow: none;
        transform: translateX(2.5px) translateY(5px);
        background-color: $color-button-hover;
        color: $color-white;
      }
    }

    &--edit {
      text-decoration: none;
      color: $color-black;
      transition: 0.3s;
      color: $color-white;
      background-color: $color-edit;
      box-shadow: 2.5px 5px $color-box-shadow-black;
      @include tablet-breakpoint {
        flex-grow: 1;
        margin-left: 2.5%;
        margin-right: 2.5%;
      }
      &:hover {
        box-shadow: none;
        transform: translateX(2.5px) translateY(5px);
        background-color: darken($color: $color-edit, $amount: 25);
        color: $color-white;
      }
    }

    &--delete {
      position: relative;
      cursor: pointer;
      transition: 0.3s;
      padding: 0;
      color: $color-white;
      background-color: $color-delete;
      box-shadow: 2.5px 5px $color-box-shadow-black;
      @include tablet-breakpoint {
        flex-grow: 1;
      }
      &:hover {
        box-shadow: none;
        transform: translateX(2.5px) translateY(5px);
        background-color: darken($color: $color-delete, $amount: 25);
      }
    }
  }

  &__box-header-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include tablet-breakpoint {
      flex-direction: row;
    }
  }

  &__date-wrapper {
    display: flex;
    flex-direction: column;
  }

  &__header {
    margin-bottom: 0.5rem;
    @include tablet-breakpoint {
      margin-bottom: 0rem;
      font-size: pxToRem(28);
    }
  }

  &__date-text {
    margin-bottom: 0.5rem;
    @include tablet-breakpoint {
      margin-bottom: 0rem;
      font-size: pxToRem(18);
    }
  }

  &__subheader {
    font-weight: 700;
  }

  &__body {
    @include tablet-breakpoint {
      font-size: pxToRem(14);
    }
    &--return {
      font-size: pxToRem(16);
      font-weight: 700;
    }
  }

  &__img {
    width: 1.5rem;
    &--back-arrow {
      margin-right: 0.5rem;
      background-image: url("../../assets/icons/arrow-black.svg");
      height: 1.5rem;
      transition: 0.15s;
      &:hover {
        background-image: url("../../assets/icons/arrow-white.svg");
      }
    }
  }
}
