@use "../../styles/partials/global" as *;
@use "../../styles/partials/colors" as *;
@use "../../styles/partials/type-kit" as *;

.memoryDetails {
  padding: 0 1rem;
  &__container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 1rem 0;
    width: 100%;
    @include tablet-breakpoint {
      max-width: $desktop-maxwidth;
      flex-direction: row;
      flex-wrap: wrap;
    }
    @include desktop-breakpoint {
    }
  }

  &__box {
    display: flex;
    flex-direction: column;
    background-color: $color-mercury;
    border-radius: 26px;
    margin: 0.5rem 0;
    box-shadow: 2.5px 5px $color-box-shadow-black;
    padding: 1rem;

    &--description {
      @include tablet-breakpoint {
        width: 100%;
      }
    }

    &--feeling {
      @include tablet-breakpoint {
        width: 48%;
        margin-right: 2%;
      }
    }

    &--helpful {
      @include tablet-breakpoint {
        width: 48%;
        margin-left: 2%;
      }
    }

    &--related {
      @include tablet-breakpoint {
        width: 100%;
      }
    }

    &--goback {
      text-decoration: none;
      color: $color-black;
      @include tablet-breakpoint {
        flex-grow: 1;
      }
      &:hover {
        box-shadow: none;
        transform: translateX(2.5px) translateY(5px);
      }
    }

    &--edit {
      text-decoration: none;
      color: $color-black;
      @include tablet-breakpoint {
        flex-grow: 1;
        margin-left: 2.5%;
        margin-right: 2.5%;
      }
      &:hover {
        box-shadow: none;
        transform: translateX(2.5px) translateY(5px);
      }
    }

    &--delete {
      background-color: #e95959;
      cursor: pointer;
      @include tablet-breakpoint {
        flex-grow: 1;
      }
      &:hover {
        box-shadow: none;
        transform: translateX(2.5px) translateY(5px);
      }
    }
  }

  &__box-header-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include tablet-breakpoint {
      flex-direction: row;
    }
  }

  &__date-wrapper {
    display: flex;
    flex-direction: column;
  }

  &__header {
    @include tablet-breakpoint {
      font-size: pxToRem(28);
    }
  }

  &__date-text {
    @include tablet-breakpoint {
      font-size: pxToRem(18);
    }
  }

  &__subheader {
    @include tablet-breakpoint {
      font-weight: 600;
    }
  }

  &__body {
    @include tablet-breakpoint {
      font-size: pxToRem(14);
    }
  }
}
