@use "../../styles/partials/global" as *;
@use "../../styles/partials/colors" as *;
@use "../../styles/partials/type-kit" as *;

.deleteMemory {
  padding: 0 1rem;
  &__container {
    display: flex;
    margin: 0 auto;
    padding: 1rem 0;
    width: 100%;
    @include tablet-breakpoint {
      max-width: $desktop-maxwidth;
    }
    @include desktop-breakpoint {
    }
  }

  &__prompt {
    color: $color-white;
  }
}

.overlay {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 0 auto;
  &--visible {
    display: block;
  }
  &--hidden {
    display: none;
  }
}
