@use "../../styles/partials/global" as *;
@use "../../styles/partials/colors" as *;
@use "../../styles/partials/type-kit" as *;

.deleteMemory {
  height: 100%;
  width: 100%;
  display: flex;
  &__title {
    color: $color-white;
    font-size: 1rem;
  }
  &__button-container {
    display: flex;
    margin: 0 auto;
    height: 100%;
    width: 100%;
  }
  &__button {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $color-white;
    text-align: center;
    vertical-align: middle;
    &--cancel {
      background-color: $color-cancel;
      transition: 0.3s;
      &:hover {
        background-color: darken($color: $color-cancel, $amount: 15);
      }
    }
    &--delete {
      background-color: $color-delete;
      transition: 0.3s;
      &:hover {
        background-color: darken($color: $color-delete, $amount: 15);
      }
    }
  }
  &__prompt {
    padding: 1rem;
  }
}

.overlay {
  position: absolute;
  overflow: hidden;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  border-radius: 26px;
  background-color: rgb(255, 255, 255);
  margin: 0 auto;
  &--visible {
    display: block;
  }
  &--hidden {
    display: none;
  }
}
