@use "../../styles/partials/global" as *;
@use "../../styles/partials/colors" as *;
@use "../../styles/partials/type-kit" as *;

.footer {
  padding: 5rem 1rem;
  background-color: $color-footer;
  &__container {
    display: flex;
    margin: 0 auto;
    padding: 1rem 0;
    width: 100%;
    @include tablet-breakpoint {
      max-width: $desktop-maxwidth;
    }
    @include desktop-breakpoint {
    }
  }
}
