@use "../../styles/partials/global" as *;
@use "../../styles/partials/colors" as *;
@use "../../styles/partials/type-kit" as *;

.landing {
  padding: 0 1rem;
  background-color: $color-body;
  min-height: 80vh;
  &__container {
    display: flex;
    flex-direction: column;
    // position: relative;
    // top: pxToRem(-96);
    margin: 0 auto;
    padding: 1rem 0;
    width: 100%;
    @include tablet-breakpoint {
      max-width: $desktop-maxwidth;
    }
    @include desktop-breakpoint {
    }
    &--top-row {
      border-top: 2px dashed $color-header;
      padding: 1rem 0;
      flex-direction: column;
      justify-content: space-between;
      @include tablet-breakpoint {
        flex-direction: row;
      }
    }
  }

  &__box {
    display: flex;
    flex-direction: column;
    background-color: $color-box;
    border-radius: 26px;
    min-height: pxToRem(200);
    margin: 0.5rem 0;
    box-shadow: 2.5px 5px $color-box-shadow-black;
    padding: 1rem;
    transition: 0.3s;
    &--top-row {
      min-height: pxToRem(200);
      width: 100%;
      // border-radius: 15px;
      &--middle {
        @include tablet-breakpoint {
          margin: 0.5rem 1rem;
          min-height: pxToRem(300);
        }
      }
    }
    &--1 {
      display: flex;
      flex-direction: column;
    }
    &--2 {
    }
    &--3 {
      text-decoration: none;
      transition: 0.3s;
      &:hover {
        box-shadow: none;
        transform: translateX(2.5px) translateY(5px);
        background-color: $color-login-hover;
      }
    }
  }

  &__box-title {
    font-weight: 500;
    font-size: pxToRem(24);
    color: $color-black;
    // width: 50%;
    @include tablet-breakpoint {
      font-size: pxToRem(36);
    }
    @include desktop-breakpoint {
      font-size: pxToRem(40);
    }

    &--bold {
      font-weight: 700;
    }
  }

  &__mini-box-title {
    font-weight: 700;
    font-size: pxToRem(16);
    color: $color-black;
    // width: 50%;

    @include tablet-breakpoint {
      padding: 1rem 0;
      font-size: pxToRem(19);
    }
    @include desktop-breakpoint {
      font-size: pxToRem(24);
    }

    &--bold {
      font-weight: 700;
    }
  }

  &__title-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &--underline-1 {
      border-bottom: 3px solid $color-header;
      border-radius: 3px;
      padding-bottom: 0.5rem;
      @include tablet-breakpoint {
        padding-bottom: 0;
      }
    }
    &--underline-2 {
      border-bottom: 3px solid $color-body;
      border-radius: 3px;
      padding-bottom: 0.5rem;
      @include tablet-breakpoint {
        padding-bottom: 0;
      }
    }
    &--underline-3 {
      border-bottom: 3px dotted $color-footer;
      border-radius: 3px;
      padding-bottom: 0.5rem;
      @include tablet-breakpoint {
        padding-bottom: 0;
      }
    }
  }

  &__img {
    width: 2rem;
    padding-bottom: 0.5rem;
    @include tablet-breakpoint {
      width: 4rem;
      padding-bottom: 0.5rem;
    }
    &--chevron {
      width: 2rem;
      @include tablet-breakpoint {
        width: 3rem;
      }
    }
  }

  &__box-body {
    margin-top: 0.5rem;
    font-size: pxToRem(14);
    color: $color-black;
    width: 90%;
    @include tablet-breakpoint {
      margin-top: 1rem;
      font-size: pxToRem(18);
    }
    &--bold {
      font-weight: 700;
    }
  }
}
