@use "../../styles/partials/global" as *;
@use "../../styles/partials/colors" as *;
@use "../../styles/partials/type-kit" as *;

.landing {
  padding: 0 1rem;
  &__container {
    display: flex;
    flex-direction: column;
    // position: relative;
    // top: pxToRem(-96);
    margin: 0 auto;
    padding: 1rem 0;
    width: 100%;
    @include tablet-breakpoint {
      max-width: $desktop-maxwidth;
    }
    @include desktop-breakpoint {
    }
  }

  &__box {
    display: flex;
    background-color: $color-mercury;
    border-radius: 26px;
    min-height: pxToRem(200);
    margin: 0.5rem 0;
    box-shadow: 2.5px 5px $color-box-shadow-black;
    padding: 0.5rem;
    &:hover {
      box-shadow: none;
      transform: translateX(2.5px) translateY(5px);
    }
    &--1 {
      display: flex;
      flex-direction: column;
    }
    &--2 {
      text-decoration: none;
    }
    &--3 {
    }
    &--4 {
    }
  }

  &__box-1-title {
    font-weight: 500;
    font-size: pxToRem(40);
    color: $color-black;
    &--bold {
      font-weight: 700;
    }
  }

  &__box-2-title {
    font-weight: 700;
    font-size: pxToRem(28);
    color: $color-black;
  }

  &__box-3-title {
    font-weight: 700;
    font-size: pxToRem(28);
    color: $color-black;
  }

  &__box-4-title {
    font-weight: 700;
    font-size: pxToRem(28);
    color: $color-black;
  }
}
